.App {
  max-width: 775px;
  font-family: "Inter Tight", sans-serif;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  color: #878787;
  padding: 40px;
  margin: 40px auto;
  text-align: center;
}

.App small {
  color: #26204066;
}

.App a {
  text-decoration: none;
  color: #885df1;
}

.App a:hover {
  color: #885df1;
  text-decoration: underline;
  cursor: pointer;
}
